#!/usr/bin/make -f
# -*- makefile -*-

export PYBUILD_NAME=wazo_accessd_client
export PYBUILD_DESTDIR=debian/wazo-accessd-client/
export PYBUILD_DISABLE=test

%:
	dh $@ --with python3 --buildsystem=pybuild
